// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 * Copyright (C) 2025 SpacemiT, Inc
 * Copyright (C) 2025 Troy Mitchell <troy.mitchell@linux.spacemit.com>
 */

/dts-v1/;

#include "k1.dtsi"
#include "k1-pinctrl.dtsi"

/ {
	model = "SpacemiT MusePi Pro";
	compatible = "spacemit,musepi-pro", "spacemit,k1";

	aliases {
		ethernet0 = &eth0;
		serial0 = &uart0;
		i2c8 = &i2c8;
	};

	chosen {
		stdout-path = "serial0";
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "sys-led";
			gpios = <&gpio K1_GPIO(96) GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};

	reg_vcc_4v: regulator-vcc-4v {
		compatible = "regulator-fixed";
		regulator-name = "VCC4V0";
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&emmc {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	non-removable;
	no-sd;
	no-sdio;
	status = "okay";
};

&eth0 {
	phy-handle = <&rgmii0>;
	phy-mode = "rgmii-id";
	pinctrl-0 = <&gmac0_cfg>;
	pinctrl-names = "default";
	rx-internal-delay-ps = <0>;
	tx-internal-delay-ps = <0>;
	status = "okay";

	mdio-bus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		reset-gpios = <&gpio K1_GPIO(110) GPIO_ACTIVE_LOW>;
		reset-delay-us = <10000>;
		reset-post-delay-us = <100000>;

		rgmii0: phy@1 {
			reg = <0x1>;
		};
	};
};

&pdma {
	status = "okay";
};

&i2c8 {
	pinctrl-0 = <&i2c8_cfg>;
	pinctrl-names = "default";
	status = "okay";

	pmic@41 {
		compatible = "spacemit,p1";
		reg = <0x41>;
		interrupts = <64>;
		vin1-supply = <&reg_vcc_4v>;
		vin2-supply = <&reg_vcc_4v>;
		vin3-supply = <&reg_vcc_4v>;
		vin4-supply = <&reg_vcc_4v>;
		vin5-supply = <&reg_vcc_4v>;
		vin6-supply = <&reg_vcc_4v>;
		aldoin-supply = <&reg_vcc_4v>;
		dldoin1-supply = <&buck5>;
		dldoin2-supply = <&buck5>;

		regulators {
			buck1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck3_1v8: buck3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck4_3v3: buck4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck5: buck5 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			buck6 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			aldo1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
			};

			aldo2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			aldo3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			aldo4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo1 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
			};

			dldo2 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo3 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo4 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			dldo5 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			dldo6 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			dldo7 {
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};
		};
	};
};

&uart0 {
	pinctrl-0 = <&uart0_2_cfg>;
	pinctrl-names = "default";
	status = "okay";
};
