config SUSE_KERNEL
	def_bool y

menu "SUSE Release Details"
choice SUSE_PRODUCT_CODE
	prompt "SUSE Product Family"
	default SUSE_PRODUCT_SLE
	depends on SUSE_KERNEL
	help
	  This option defines the SUSE product family that owns this
	  kernel release.

config SUSE_PRODUCT_SLE
	bool "SUSE Linux Enteprise"

config SUSE_PRODUCT_OPENSUSE_LEAP
	bool "openSUSE Leap"

config SUSE_PRODUCT_OPENSUSE_TUMBLEWEED
	bool "openSUSE Tumbleweed"

config SUSE_PRODUCT_SLFO
	bool "SUSE Linux Framework One"
endchoice

config SUSE_PRODUCT_CODE
	int
	range 1 4
	default 1 if SUSE_PRODUCT_SLE
	default 2 if SUSE_PRODUCT_OPENSUSE_LEAP
	default 3 if SUSE_PRODUCT_OPENSUSE_TUMBLEWEED
	default 4 if SUSE_PRODUCT_SLFO

if SUSE_PRODUCT_SLE
config SUSE_VERSION
	int "Release Version"
	range 0 255
	default 255

config SUSE_PATCHLEVEL
	int "Service Pack Version"
	range 0 255
	default 255
endif

if SUSE_PRODUCT_OPENSUSE_LEAP
config SUSE_VERSION
	int "Release Major Version"
	range 0 255
	default 255

config SUSE_PATCHLEVEL
	int "Release Minor Version"
	range 0 255
	default 255
endif

# Tumbleweed doesn't currently use version information, but we should
# still have the values defined even if zeroed out.
if SUSE_PRODUCT_OPENSUSE_TUMBLEWEED
config SUSE_VERSION
	int
	range 0 255
	default 0

config SUSE_PATCHLEVEL
	int
	range 0 255
	default 0
endif

if SUSE_PRODUCT_SLFO
config SUSE_VERSION
	int "Release Major Version"
	range 0 255
	default 255

config SUSE_PATCHLEVEL
	int "Release Minor Version"
	range 0 255
	default 255
endif

config SUSE_AUXRELEASE
	int
	range 0 255
	default 0

config SUSE_HAVE_STABLE_KABI
	bool "Stable KABI is defined"
	default n
	depends on SUSE_KERNEL_SUPPORTED
	help
	  This helper option (only) indicates whether the kernel provides a
	  stable kABI. It assists in writing guards for kABI stability checks.
	  The value should reflect presence of kABI references in the RPM build.

config SUSE_KERNEL_SUPPORTED
	bool "Enable enterprise support facility"
	depends on SUSE_KERNEL
	depends on MODULES
	help
	  This feature enables the handling of the "supported" module flag.
	  This flag can be used to report unsupported module loads or even
	  refuse them entirely. It is useful when ensuring that the kernel
	  remains in a state that SUSE, or its technical partners, is
	  prepared to support.

	  Modules in the list of supported modules will be marked supported
	  on build. The default enforcement mode is to report, but not
	  deny, loading of unsupported modules.

	  If you aren't building a kernel for an enterprise distribution,
	  say n.

config SUSE_KERNEL_RELEASED
	bool "Release kernel"
	default n
	help
	  This kernel is built for release through official channels.

endmenu
